In [1]:
#QUESTION 1

a = 0  # Global variable 'a' is initialized with the value 0.

def b():
    global a  # Access the global variable 'a'.
    a = c(a)  # Call 'c(a)' function and update 'a' with the returned value.

def c(a):
    return a + 2  # Add 2 to the parameter 'a' and return the result.

b()  # Call function 'b()'
b()  
b()  

print(a)  # Print the value of 'a'

6

The result of running the aforementioned code is that the value shown when print(a) is run will be 6.

The breakdown of the execution is as follows:

At first, the variable an is given the value 0.
Three times the method b() is used, invoking c(a) to change the value of a.
When b() is initially called, it sets a to c(0) and returns 0 + 2 = 2.
When b() is called a second time, it sets a to c(2), which produces 2 + 2 = 4.
A is changed to c(4) in the third call to b(), which produces the result 4 + 2 = 6.
The value of a, which is 6 when print(a) is finished, is output.
As a result, when print(a) is calculated, the value printed is 6.

In [3]:
#QUESTION 2

def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            contents = file.read()
            length = len(contents)
            return length
    except FileNotFoundError:
        print("File", filename, "not found.")

In [4]:
fileLength('midterm.py')  # Output: 358
fileLength('idterm.py')  # Output: File idterm.py not found.

File midterm.py not found.
File idterm.py not found.

In [14]:
#QUESTION 3

class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    m = Marsupial()

m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [13]:
#QUESTION 4

def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

In [15]:
#QUESTION 5

def binary(n):
    if n <= 1:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')
        
binary(0)
binary(1)
binary(3)
binary(9)

01111001

In [17]:
#question 6
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_heading = ""
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            try:
                self.indentation = int(tag[1]) - 1
            except ValueError:
                pass

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.headings.append((' ' * self.indentation) + self.current_heading.strip())
            self.current_heading = ""

    def handle_data(self, data):
        self.current_heading += data.strip()

    def print_headings(self):
        for heading in self.headings:
            print(heading)


filename = 'w3c.html'
try:
    with open(filename, 'r') as file:
        content = file.read()
except FileNotFoundError:
    print(f"File {filename} not found.")
else:
    hp = HeadingParser()
    hp.feed(content)
    hp.print_headings()

Change_me
W3C Mission
 Principles

In [25]:
#QUESTION 7

import requests
from bs4 import BeautifulSoup

 

def webdir(url, depth, indent):
    print(' ' * indent + url)

 

    if depth == 0:
        return

 

    response = requests.get(url)

 

    soup = BeautifulSoup(response.content, 'html.parser')

 

    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href.startswith('http'): 
            webdir(href, depth - 1, indent + 1)

 

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [20]:
#QUESTION 8

import sqlite3

# Create a new SQLite database
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

# Create the table
cursor.execute('''CREATE TABLE weather (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature REAL,
                    Rainfall REAL
                )''')

# Insert the data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO weather VALUES (?,?,?,?,?)', data)

# Commit the changes and close the connection
conn.commit()
conn.close()

# Reconnect to the database for executing queries
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

# SQL queries
# a) All the temperature data
cursor.execute('SELECT Temperature FROM weather')
print("Temperature:")
print(cursor.fetchall())

# b) All the cities, but without repetition
cursor.execute('SELECT DISTINCT City FROM weather')
print("\nCities:")
print(cursor.fetchall())

# c) All the records for India
cursor.execute('SELECT * FROM weather WHERE Country = "India"')
print("\nRecords for India:")
print(cursor.fetchall())

# d) All the Fall records
cursor.execute('SELECT * FROM weather WHERE Season = "Fall"')
print("\nFall records:")
print(cursor.fetchall())

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute('SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400')
print("\nAverage rainfall between 200 and 400 millimeters:")
print(cursor.fetchall())

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute('SELECT City, Country FROM weather WHERE Season = "Fall" GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature)')
print("\nAverage Fall temperature above 20 degrees:")
print(cursor.fetchall())

# g) The total annual rainfall for Cairo
cursor.execute('SELECT SUM(Rainfall) FROM weather WHERE City = "Cairo"')
print("\nTotal annual rainfall for Cairo:")
print(cursor.fetchone()[0])

# h) The total rainfall for each season
cursor.execute

Temperature:
[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

Cities:
[('Mumbai',), ('London',), ('Cairo',)]

Records for India:
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

Fall records:
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

Average rainfall between 200 and 400 millimeters:
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

Average Fall temperature above 20 degrees:
[('Cairo', 'Egypt'), ('Mumbai', 'India')]

Total annual rainfall for Cairo:
27.6

In [22]:
#QUESTION 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# a) Uppercase version of each word
a = [word.upper() for word in words]
print(a)

# b) Lowercase version of each word
b = [word.lower() for word in words]
print(b)

# c) Length of each word
c = [len(word) for word in words]
print(c)

# d) List containing word in uppercase, lowercase, and length of the word
d = [[word.upper(), word.lower(), len(word)] for word in words]
print(d)

# e) Words containing 4 or more characters
e = [word for word in words if len(word) >= 4]
print(e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']